    html {
        font-size: 10px;
    }
    
    body {
        margin: 0;
        font-family: 'Lato Regular', sans-serif;
        font-size: 1.6rem;
    }
    
    * {
        box-sizing: border-box;
    }
    
    p {
        margin: 0;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
    
    .wrapper {
        max-width: 1020px;
        margin: 0 auto;
        padding: 0 40px;
    }
    
    .header {
        background-color: #2d303a;
        border-bottom: 6px solid #323746;
    }
    
    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding: 34px 40px 30px;
    }
    
    .burger {
        display: none;
    }
    
    .burger-active {
        transform: rotate(90deg);
    }
    
    .logo {
        color: #fff;
        line-height: 1;
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: -0.55px;
        text-transform: uppercase;
    }
    
    .logo span {
        color: #f06c64;
    }
    
    .navigation {
        display: flex;
        font-size: 1.2rem;
        font-weight: 500;
        color: #fff;
    }
    
    .navigation_list {
        text-transform: uppercase;
        padding-right: 29px;
        list-style: none;
        cursor: pointer;
        position: relative;
    }
    
    .navigation_list__link {
        text-decoration: none;
        color: #fff;
    }
    
    .navigation_list:last-child {
        padding-right: 0;
    }
    
    .navigation_list__link:hover,
    .navigation_list__link-active {
        color: #f06c64;
    }
    
    .navigation_list__link-active:hover {
        color: #fff;
    }
    
    .slider {
        background-color: #f06c64;
        border-bottom: 6px solid #ea676b;
        transition: 0.75s ease-in;
        position: relative;
    }
    
    .slide-2 {
        justify-content: center;
        background-color: #648BF0;
        border-bottom: solid 6px #323746;
        transition: 0.75s ease-in;
        height: 606px;
    }
    
    .slider__content.slide-2 {
        display: none;
    }
    
    .slider__wrapper {
        position: relative;
        height: 600px;
    }
    
    .slider__content {
        display: flex;
    }
    
    .phone_vertical {
        padding: 53px 0 0 72px;
    }
    
    .phone_horizontal {
        padding: 174px 0 0 73px;
    }
    
    #phone__vertical {
        max-width: 100%
    }
    
    #phone__horizontal {
        max-width: 100%;
    }
    
    .phone__vertical-shadow {
        margin-left: 86px;
        margin-top: 118px;
        width: 188px;
        height: 334px;
        background-color: black;
        position: absolute;
        display: none;
    }
    
    .phone__horizontal-shadow {
        margin-left: 518px;
        margin-top: 115px;
        width: 188px;
        height: 334px;
        background-color: black;
        position: absolute;
        transform: rotate(90deg);
        display: none;
    }
    
    .arrows {
        cursor: pointer;
    }
    
    .arrows__prev {
        position: absolute;
        top: 47%;
        left: 2px;
        padding-left: 40px;
    }
    
    .arrows__next {
        position: absolute;
        top: 47%;
        right: 0;
        padding-right: 40px;
    }
    
    .services {
        background-color: #f2f2f2;
        border-bottom: 6px solid #fff;
    }
    
    .wrapper__services {
        padding: 63px 40px 31px 40px;
        color: #767e9e;
        font-size: 1.8rem;
    }
    
    h2 {
        margin-bottom: 16px;
        font-family: 'Lato Black', sans-serif;
        font-size: 3rem;
        font-weight: 700;
        color: #666d89;
        word-spacing: -1.5px;
    }
    
    .services_description {
        padding-bottom: 43px;
        font-size: 1.8rem;
        font-weight: 300;
        color: #767e9e;
        line-height: 30px;
        text-align: justify;
        letter-spacing: -.4px;
        word-spacing: 0;
    }
    
    .layout-3-column {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 1.2rem;
        color: #767e9e;
        text-align: left;
    }
    
    .service {
        margin-bottom: 30px;
        width: 33%;
        padding-left: 79px;
        overflow: hidden;
        position: relative;
        max-width: 299px;
        max-height: 93px;
    }
    
    .service h3 {
        font-size: 1.8rem;
        line-height: 18px;
        margin-bottom: 9px;
        font-weight: 600;
        color: #666d89;
        font-family: "Lato Black", sans-serif;
        letter-spacing: -.4px;
    }
    
    .service__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-right: 15px;
        width: 59px;
        height: 59px;
        padding: 15px;
        border: 2px solid #666d89;
        border-radius: 50%;
        top: 3px;
        left: 0;
    }
    
    p {
        color: #767e9e;
        font-size: 1.2rem;
        line-height: 22px;
        text-align: justify;
        word-spacing: -1.5px;
    }
    
    .portfolio {
        background-color: #2d303a;
        border-bottom: 6px solid #323746;
    }
    
    .portfolio__wrapper {
        height: 870px;
        padding-top: 63px;
    }
    
    .layout-4-column {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-height: 620px;
        overflow: hidden;
    }
    
    .portfolio__description {
        margin-bottom: 9px;
        font-size: 1.8rem;
        font-weight: 300;
        color: #767e9e;
        line-height: 30px;
        text-align: justify;
        letter-spacing: -.4px;
        word-spacing: 0.5px;
    }
    
    .portfolio__item {
        margin-bottom: 20px;
        max-width: 220px;
        max-height: 187px;
        overflow: hidden;
    }
    
    .portfolio__item-active {
        border: 5px solid #F06C64;
    }
    
    .portfolio__item>img {
        max-width: 100%;
        width: 220px;
        height: 187px;
    }
    
    .portfolio__item img {
        position: relative;
    }
    
    .portfolio__tags {
        margin-bottom: 20px;
    }
    
    .hide {
        display: none;
    }
    
    .tag {
        font-size: 1.2rem;
        color: #767e9e;
        font-weight: 400;
        text-align: left;
        margin-right: 6px;
        padding: 4px 6px;
        width: 80px;
        height: 25px;
    }
    
    .tag:hover {
        border: 1px solid #dedede;
        color: #dedede;
        cursor: pointer;
    }
    
    .tag_bordered {
        border-radius: 5px;
        border: 1px solid #666d89;
    }
    
    .tag_selected {
        color: #dedede;
        border-radius: 5px;
        border: 1px solid #dedede;
    }
    
    .about-us {
        background-color: #f2f2f2;
        border-bottom: 6px solid #fff;
    }
    
    .about-us__wrapper {
        padding-top: 60px;
    }
    
    .about-us__description {
        font-size: 1.8rem;
        font-weight: 300;
        color: #767e9e;
        line-height: 30px;
        text-align: justify;
        letter-spacing: -.4px;
        padding-bottom: 43px;
    }
    
    .about-us__item {
        width: 31.9%;
    }
    
    .about-us__item img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    
    .about-us__item:last-child {
        margin-left: 2px;
    }
    
    .about-us__name {
        padding-top: 20px;
        font-size: 1.8rem;
        line-height: 1.8rem;
        color: #666d89;
        font-family: "Lato Black", sans-serif;
        font-weight: bolder;
        text-align: left;
        white-space: nowrap;
    }
    
    .about-us__information {
        padding-top: 8px;
    }
    
    .about-us__social_networks {
        display: flex;
        justify-content: left;
        padding-top: 22px;
    }
    
    .about-us__social_networks span {
        margin-right: 8px;
    }
    
    .icon {
        background-position: 50%;
        display: inline-block;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #666d89;
        padding: 15px;
        background-repeat: no-repeat;
    }
    
    .facebook {
        background-image: url(assets/img/social_networks/facebook.svg);
    }
    
    .facebook:hover {
        background-image: url(assets/img/social_networks/hover/facebook_hover.svg);
        border: 1px solid #522323;
        transition: ease-out 0.3s;
    }
    
    .google {
        background-image: url(assets/img/social_networks/google.svg);
    }
    
    .google:hover {
        background-image: url(assets/img/social_networks/hover/google_hover.svg);
        border: 1px solid #522323;
        transition: ease-out 0.3s;
    }
    
    .twitter {
        background-image: url(assets/img/social_networks/twitter.svg);
    }
    
    .twitter:hover {
        background-image: url(assets/img/social_networks/hover/twitter_hover.svg);
        border: 1px solid #522323;
        transition: ease-out 0.3s;
    }
    
    .linkedin {
        background-image: url(assets/img/social_networks/linkedin.svg);
    }
    
    .linkedin:hover {
        background-image: url(assets/img/social_networks/hover/linkedin_hover.svg);
        border: 1px solid #522323;
        transition: ease-out 0.3s;
    }
    
    .quote {
        background-color: #f06c64;
        border-bottom: 6px solid #ea676b;
    }
    
    .wrapper_quote {
        color: #f0d8d9;
    }
    
    .quote__head {
        color: #f0d8d9;
        font-family: "Lato Bold";
        font-weight: bold;
        padding-top: 65px;
        padding-bottom: 2px;
    }
    
    .quote__description {
        color: #f0d8d9;
        font-size: 1.8rem;
        line-height: 30px;
        font-weight: 300;
        text-align: left;
    }
    
    .layout-2-column {
        display: flex;
        justify-content: space-between;
        padding-top: 42px;
    }
    
    .quote__form input {
        color: #f0d8d9;
        display: block;
        height: 40px;
        border-radius: 5px;
        background-color: #d6564f;
        border: 1px solid #f06c64;
        margin-bottom: 14px;
        padding: 15px;
        outline: none;
        font-size: 1.2rem;
        line-height: 22px;
        font-family: "Lato";
        font-weight: 400;
        width: 100%;
    }
    
    .quote__form {
        width: 66.66%;
    }
    
    .quote__form input::-moz-placeholder {
        color: #f48c8f;
    }
    
    .quote__form input::-webkit-input-placeholder {
        color: #f48c8f;
    }
    
    .quote__form textarea {
        height: 202px;
        border-radius: 5px;
        outline: none;
        background-color: #d6564f;
        border: 1px solid #f06c64;
        padding: 7px 15px;
        color: #f0d8d9;
        width: 100%;
        resize: none;
        font-size: 1.2rem;
        line-height: 2.2rem;
        font-family: "Lato";
        font-weight: 400;
    }
    
    .quote__form textarea::-moz-placeholder {
        color: #f48c8f;
    }
    
    .quote__form textarea::-webkit-input-placeholder {
        color: #f48c8f;
    }
    
    .quote__content {
        padding-left: 30px;
        width: 33.33%;
    }
    
    .quote__content a {
        color: #f0d8d9;
        text-decoration: none;
        padding-left: 11px;
        font-size: 1.2rem;
    }
    
    .quote__content a:hover {
        color: #333;
    }
    
    .quote__title {
        padding-bottom: 6px;
    }
    
    .quote__info {
        padding-bottom: 20px;
        color: #f0d8d9;
    }
    
    .ico {
        display: inline-block;
    }
    
    .info_location {
        display: inline;
        padding-left: 10px;
        color: #f0d8d9;
    }
    
    .ico_location {
        background-image: url(assets/img/quote/location.png);
        width: 7px;
        height: 11px;
        margin-left: 3px;
    }
    
    .quote__phone {
        margin-bottom: 3px;
    }
    
    .ico_phone {
        background-image: url(assets/img/quote/phone.png);
        width: 11px;
        height: 11px;
        margin-left: 1px;
    }
    
    .ico_mail {
        background-image: url(assets/img/quote/mail.png);
        width: 13px;
        height: 8px;
    }
    
    .ico_location:hover {
        background-image: url(assets/img/quote/location_hover.png);
    }
    
    .ico_phone:hover {
        background-image: url(assets/img/quote/phone_hover.png);
    }
    
    .ico_mail:hover {
        background-image: url(assets/img/quote/mail_hover.png);
    }
    
    .quote__button {
        padding-top: 5px;
        padding-bottom: 24px;
    }
    
    .button {
        background-color: rgb(231, 104, 19);
        color: #f0d8d9;
        border-radius: 5px;
        border: 1px solid rgb(231, 104, 19);
        padding: 8px 12px;
    }
    
    .button:hover {
        transition: ease-out 0.5s;
        background-color: rgb(179, 77, 10);
    }
    
    .footer {
        background-color: #2d303a;
    }
    
    .wrapper_footer {
        display: flex;
        justify-content: space-between;
        min-height: 76px;
        align-items: center;
    }
    
    .footer__copyright {
        color: #666d89;
        font-size: 1.2rem;
        line-height: 22px;
        font-family: "Lato";
        font-weight: 300;
        padding-left: 2px;
    }
    
    .footer__copyright:hover {
        color: #fafafa;
    }
    
    .footer__social_networks {
        padding-top: 2px;
    }
    
    .icon {
        margin-right: 4px;
    }
    
    .linkedin {
        margin-right: 0;
    }
    
    .wrapper_modal {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        overflow-y: hidden;
        background-color: rgba(241, 141, 141, 0.5);
        display: none;
    }
    
    .modal-window {
        max-width: 300px;
        position: relative;
        margin: 0 auto;
        width: 100%;
        background-color: #f48c8f;
        border: 2px solid #d6564f;
        border-radius: 5px;
        text-align: center;
        margin-top: 260px;
    }
    
    @media(max-width: 768px) {
        .slider {
            background-color: #f06c64;
            border-bottom: 6px solid #ea676b;
            transition: 0.75s ease-in;
            position: relative;
        }
        .slide-2 {
            justify-content: center;
            background-color: #648BF0;
            border-bottom: solid 6px #323746;
            transition: 0.75s ease-in;
            height: 606px;
        }
        .slider__content.slide-2 {
            display: none;
        }
        .slider__wrapper {
            position: relative;
            max-height: 600px !important;
            height: 100%;
        }
        .slider__content {
            display: flex;
        }
        .arrows__prev {
            padding-left: 33px;
        }
        .arrows__next {
            padding-left: 26px;
        }
        .phone_vertical {
            padding: 40px 0 42px 54px;
        }
        .phone_horizontal {
            padding: 174px 0 0 73px;
        }
        .phone__vertical-shadow {
            margin-left: 82px;
            margin-top: 101px;
            width: 142px;
            height: 251px;
            background-color: black;
            position: absolute;
            display: none;
        }
        .phone__horizontal-shadow {
            margin-left: 518px;
            margin-top: 115px;
            width: 188px;
            height: 334px;
            background-color: black;
            position: absolute;
            transform: rotate(90deg);
            display: none;
        }
        .wrapper__services {
            padding: 40px 40px 31px 40px;
        }
        .service {
            width: 50%;
        }
        .portfolio__item {
            max-width: 218px;
            max-height: 183px;
        }
        .portfolio__wrapper {
            max-height: 1112px;
            height: 100%;
        }
        .layout-4-column {
            max-height: 877px;
            padding-bottom: 50px;
        }
        .about-us__social_networks {
            padding: 22px 0 0 0;
        }
        .quote__button {
            padding-top: 17px;
            padding-bottom: 38px;
        }
        .button {
            padding: 10px 47px;
        }
    }
    
    @media (max-width: 375px) {
        .header__wrapper {
            padding: 34px 40px 20px;
        }
        .portfolio__wrapper {
            padding: 42px 30px;
        }
        .portfolio__tags {
            margin-bottom: 25px;
        }
        .layout-4-column {
            max-height: 590px;
        }
        .burger {
            z-index: 10;
            display: block;
            border: none;
            background: none;
            outline: none;
        }
        .burger__item {
            display: block;
            width: 30px;
            height: 4px;
            background-color: #fff;
            font-size: 0;
            position: relative;
            border-radius: 5px;
            margin-bottom: 5px;
        }
        .burger-active {
            transform: rotate(90deg);
        }
        .logo {
            z-index: 10;
            padding-right: 100px;
            font-size: 2rem;
        }
        .header__navigation {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 6;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background-color: #2d303a;
            width: 278px;
            height: 100vh;
        }
        .navigation {
            flex-direction: column;
            font-size: 2.4rem;
            align-items: baseline;
            padding-left: 71px;
        }
        .navigation_list {
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: -0.035em;
            margin-bottom: 30px;
        }
        .header__navigation-active {
            display: flex;
        }
        .slide-2 {
            max-height: 200px;
        }
        .slide-2>img {
            max-height: 100%;
        }
        .slider__wrapper {
            height: auto;
        }
        .phone_horizontal {
            padding: 64px 4px 0px 25px;
        }
        .phone_vertical {
            padding: 20px 0 0 10px;
        }
        .phone__vertical-shadow {
            margin-left: 15px;
            margin-top: 43px;
            width: 67px;
            height: 119px;
        }
        .phone__horizontal-shadow {
            margin-left: 167px;
            margin-top: 43px;
            width: 67px;
            height: 119px;
        }
        .arrows__prev {
            padding-left: 14px;
        }
        .arrows__next {
            padding-right: 14px;
        }
        .wrapper__services {
            padding: 25px 40px 15px 40px;
        }
        .services_description {
            padding-bottom: 25px;
        }
        .service {
            width: 100%;
        }
        .portfolio__item>img {
            width: 151px;
            height: 128px;
        }
        .portfolio__item {
            max-width: 151px;
            max-height: 128px;
            width: 50%;
        }
        .about-us__item {
            width: 100%;
            padding-bottom: 34px;
        }
        .quote__form {
            width: 100%;
        }
        .layout-2-column {
            display: block;
            padding-top: 19px;
        }
        .quote__content {
            padding-left: 0px;
            width: 100%;
        }
        .button {
            width: 100%;
            padding: 15px 12px;
            border: none;
        }
        .quote__mail {
            padding-bottom: 30px;
        }
        .footer__social_networks {
            padding-left: 72px;
        }
        .footer__copyright {
            display: none;
        }
    }